* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.elemento {
    width: 300px;
    height: 300px;
    border: 2 px solid;
    border-radius: 4px;
}

.elemento_animado {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    animation: movimiento 5s infinite ease-out;
}

@keyframes movimiento {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(300px-30px));
    }
}

@keyframes movimiento {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(300px-31px));
        background-color: blue;
    }

    100% {
        transform: translateX(0);
    }
}